<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="iridium" version="2.2.4.8171" targetFramework="net472" />
  <package id="iridium.db.sqlite" version="2.2.3.10241" targetFramework="net472" />
  <package id="iridium.reflection" version="2.0.1.7071" targetFramework="net472" />
</packages>